footer {
    position: relative;
}

footer section:nth-child(2) {
    position: absolute;
    z-index: 100;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 70%;
}

footer section ul li.title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #f3f4f6;
}

footer section ul li a {
    color: #f8fafc;
}

footer section:nth-child(3) {
    position: absolute;
    z-index: 100;
    bottom: 10%;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: end;
    color: #f5f5f4;
}

footer section:nth-child(3) img {
    width: 200px;
    height: auto;
}
