.herox {
    display: grid;
    grid-template-columns: 52% 46%;
    gap: 5%;
    padding: 85px 57px;
}

.herox > section:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 3.25rem;
}

.herox > section:nth-child(1) > h1 {
    font-size: 4rem;
    color: var(--primary-color);
    font-weight: 600;
}
